@charset "ISO-8859-1";

html, body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
}

nav{
	background-size: 150px auto;
	background-repeat: no-repeat;
	background-position: left;
	background-color: rgba(92,168,214,1);
	position: fixed;
	width: 100vw;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
	border-radius: 3px;
	z-index: 100;
}

.logoHeader {
	width: 140px;
	margin-top: 8px;
	margin-left: 8px;
}
.headerText {
    float: right;
    padding: 15px 20px;
    margin: 0px;
    color: transparentize(#ff6011, .3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .1rem;
    +transition(.3s);
    &:hover;
    color: white;
    margin-right: 2%;
}

.headerTextLogged{
	float: right;
    padding: 15px 20px;
    margin-right: 12%;
    color: transparentize(#ff6011, .3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .1rem;
    +transition(.3s);
    &:hover;
    color: #ffffff;
}

.streamHeader{
	float: right;
    padding: 15px 20px;
    color: transparentize(#ff6011, .3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: .1rem;
    +transition(.3s);
    &:hover;
    color: #ffffff;
}
a:hover{
	opacity: 0.5;
}

.header-input {
	width: calc(50vw - 100px);
	opacity: 0.5;
	margin-left: 20%;
	height: 32px;
	border-bottom-left-radius:8px;
	border-top-left-radius:8px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	font: 20px Helvetica, Arial, sans-serif;
	position: absolute;
/* 	margin-top: 20%; */
	border: none;
}
.header-input:hover{
	opacity: 1;
}  

.searchTable{
	position: absolute;
	margin-top: -2%;
	margin-left: 15%;	
}

/* Dropdown Button */
.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: absolute;
    display: inline-block;
    margin-left: 82%;
    margin-top: 0.4%;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(92,168,214,0.9);
    min-width: 101px;
    height: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#signOut{
	background-color: transparent;
	border: none;
	color: white;
	font: 15px "Trebuchet MS", Helvetica, sans-serif; 
	margin-top: 9%;
	margin-left: 9%;
}

#signOut:HOVER{
	cursor: pointer;
}

#signOutDiv:HOVER{
	width: 101px;
	height: 40px;
	background-color: #cccccc;
	opacity: 0.5;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font: 15px "Trebuchet MS", Helvetica, sans-serif; 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #cccccc;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	color: #cccccc;
    background-color: #252424;
}

/*Format the profile name size*/
.profileButton{
	padding: 0%;
	font: 18px Helvetica, Arial, sans-serif;
}

.usernameTd{
	color: #ffffff;
}

.usernameTd:HOVER{
	color: #cccccc;
}

/*Format the profile pic size*/
.profilePic{
	height: 30px;
	width: 30px;
	border-radius: 50%;
}

.dropdown:hover .profilePic{
	opacity: 0.7;
}
/*-----------------------------------------------*/

.fullscreen-bg {
  position: absolute;
  top:0; right:0; bottom:0; left:0;
  background: url("SISoundbackground.jpg") center;
/*   background-size: cover; */
  opacity: 1;
  z-index: -1000;
}

/*SEARCH FORM*/
.searchForm{
	position: absolute;
	margin-top: -2.2%;
	margin-left: 25.3%;
}

/* .searchButton{ */
/* 	margin-left: 687%; */
/* 	margin-top: -54%; */
/* 	background-color: #ffffff; */
/* 	border: none; */
/* 	border-top-right-radius: 8px; */
/* 	border-bottom-right-radius: 8px; */
/* 	height: 34px; */
/* 	width: 65px; */
/* 	font-weight: bold; */
/* 	font-size: 16px; */
/* } */

.searchButton:HOVER{
	cursor: pointer;
}

.searchDropdown{
	margin-left: -30%;
	margin-top: 20.5%;
	background-color: #ffffff;
	border: none;
/* 	border-top-right-radius: 8px; */
/* 	border-bottom-right-radius: 8px; */
/* 	height: 34px; */
/* 	width: 65px; */
/* 	font-weight: bold; */
	font-size: 16px;
}

#loginErr {
  font-size: 1.0rem;
  font-family: @font-heading-regular;
  color: #ffffff;
  margin-top: 19.5%;
  text-align: center;
  font: "Trebuchet MS", Helvetica, sans-serif;
  
}

#logErrBack{
	background-color: rgba(92,168,214,0.9);
	border-radius: 0 0 0.5rem 0.5rem;
}