/*------------------------*\
        Audio Player
\*------------------------*/
#ap-0, #ap-1, #ap-2, #ap-3, #ap-mix {
  box-sizing: content-box;
  display: block;
  position: relative;
   border: 1px solid #fff;
  background-color: #fff;
  margin: 0;
  padding: 0;}

#ap-0, #ap-1, #ap-2, #ap-3 {border-radius: 20px 20px 10px 10px;}
#ap-mix {border-radius: 0 0 10px 10px;}

#ap-0 div, #ap-1 div, #ap-2 div, #ap-3 div, #ap-mix div {-webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box;}

#ap-0 .ap-text,
#ap-1 .ap-text,
#ap-2 .ap-text,
#ap-3 .ap-text,
#ap-mix .ap-text {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
  top:0;
  height: 60px;
  text-align: center;
  z-index: 1;}

#ap-0 .ap-text-clear, #ap-1 .ap-text-clear, #ap-2 .ap-text-clear, #ap-3 .ap-text-clear, #ap-mix .ap-text-clear {}

#ap-0 .ap-title,
#ap-1 .ap-title,
#ap-2 .ap-title,
#ap-3 .ap-title,
#ap-mix .ap-title {
  display: block;
  color: #333;
  padding: 8px 24px 2px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;}

#ap-0 .ap-title-clear, #ap-1 .ap-title-clear, #ap-2 .ap-title-clear, #ap-3 .ap-title-clear, #ap-mix .ap-title-clear {}

#ap-0 .ap-info,
#ap-1 .ap-info,
#ap-2 .ap-info,
#ap-3 .ap-info,
#ap-mix .ap-info {
  display: block;
  color: #555;
  padding: 2px 24px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;}

#ap-0 .ap-info-clear, #ap-1 .ap-info-clear, #ap-2 .ap-info-clear, #ap-3 .ap-info-clear, #ap-mix .ap-info-clear {}

#ap-0 .ap-bar,
#ap-1 .ap-bar,
#ap-2 .ap-bar,
#ap-3 .ap-bar,
#ap-mix .ap-bar {
  display: block;
  position: relative;
  width: 100%;
  height: 125px;
  background-color: #fbfaf6;
  background: radial-gradient(circle at 50% 50%, white 40%, #A5C100, #849a00);
 }

#ap-0 .ap-bar,
#ap-1 .ap-bar,
#ap-2 .ap-bar,
#ap-3 .ap-bar {border-radius:20px 20px 0 0;}

#ap-0 .ap-bar-buttons-clear, #ap-1 .ap-bar-buttons-clear, #ap-2 .ap-bar-buttons-clear, #ap-3 .ap-bar-buttons-clear, #ap-mix .ap-bar-buttons-clear {}

#ap-0 .ap-bar-clear,
#ap-1 .ap-bar-clear,
#ap-2 .ap-bar-clear,
#ap-3 .ap-bar-clear,
#ap-mix .ap-bar-clear {clear: both;}

#ap-0 .ap-bar-title,
#ap-1 .ap-bar-title,
#ap-2 .ap-bar-title,
#ap-3 .ap-bar-title,
#ap-mix .ap-bar-title {}

#ap-0 .ap-playpause,
#ap-1 .ap-playpause,
#ap-2 .ap-playpause,
#ap-3 .ap-playpause,
#ap-mix .ap-playpause {
  position: absolute;
  left: 50%;
  margin-left: -24px;
  bottom: 42px;
  z-index:2;}

#ap-0 .ap-play,
#ap-1 .ap-play,
#ap-2 .ap-play,
#ap-3 .ap-play,
#ap-mix .ap-play {position: relative;}

#ap-0 .ap-pause,
#ap-1 .ap-pause,
#ap-2 .ap-pause,
#ap-3 .ap-pause,
#ap-mix .ap-pause {position: relative;}

#ap-0 .ap-prev,
#ap-1 .ap-prev,
#ap-2 .ap-prev,
#ap-3 .ap-prev,
#ap-mix .ap-prev {
  position: absolute;
  left: 50%;
  margin-left: -72px;
  bottom: 42px;
  z-index:2;}

#ap-0 .ap-next,
#ap-1 .ap-next,
#ap-2 .ap-next,
#ap-3 .ap-next,
#ap-mix .ap-next {
  position: absolute;
  left: 50%;
  margin-left: 24px;
  bottom: 42px;
  z-index:2;}

#ap-0 .ap-progress,
#ap-1 .ap-progress,
#ap-2 .ap-progress,
#ap-3 .ap-progress,
#ap-mix .ap-progress {
  position: absolute;
  left: 0;	
  bottom: 0;
  background-color: #dad6b4;
  width: 100%;}

#ap-0 .ap-progress-loaded,
#ap-1 .ap-progress-loaded,
#ap-2 .ap-progress-loaded,
#ap-3 .ap-progress-loaded,
#ap-mix .ap-progress-loaded {background-color: #bab49a;}

#ap-0 .ap-progress-played,
#ap-1 .ap-progress-played,
#ap-2 .ap-progress-played,
#ap-3 .ap-progress-played,
#ap-mix .ap-progress-played {
  background-color: #fcc500;
  background-image: -ms-linear-gradient(top, #fede00 0%, #fcc500 100%);
  background-image: -moz-linear-gradient(top, #fede00 0%, #fcc500 100%);
  background-image: -o-linear-gradient(top, #fede00 0%, #fcc500 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fede00), color-stop(1, #fcc500));
  background-image: -webkit-linear-gradient(top, #fede00 0%, #fcc500 100%); 
  background-image: linear-gradient(to bottom, #fede00 0%, #fcc500 100%);}

#ap-0 .ap-time,
#ap-1 .ap-time,
#ap-2 .ap-time,
#ap-3 .ap-time,
#ap-mix .ap-time {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 15px;
  color: #434548;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 12px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing:1.5px;
  text-align: center;}

#ap-0 .ap-loop,
#ap-1 .ap-loop,
#ap-2 .ap-loop,
#ap-3 .ap-loop,
#ap-mix .ap-loop {
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left:-130px;
	z-index:2;}

#ap-0 .ap-volume,
#ap-1 .ap-volume,
#ap-2 .ap-volume,
#ap-3 .ap-volume,
#ap-mix .ap-volume {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: 110px;
  z-index:2;}

#ap-0 .ap-volume-bar,
#ap-1 .ap-volume-bar,
#ap-2 .ap-volume-bar,
#ap-3 .ap-volume-bar,
#ap-mix .ap-volume-bar {
  background-color: #d5cea6;
  background-image: -moz-linear-gradient(-45deg, #d5cea6 0%, #c9c190 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#d5cea6), color-stop(100%,#c9c190));
  background-image: -webkit-linear-gradient(-45deg, #d5cea6 0%,#c9c190 100%);
  background-image: -o-linear-gradient(-45deg, #d5cea6 0%,#c9c190 100%);
  background-image: -ms-linear-gradient(-45deg, #d5cea6 0%,#c9c190 100%);
  background-image: linear-gradient(135deg, #d5cea6 0%,#c9c190 100%);
  border-radius: 2px;
  z-index:2}

#ap-0 .ap-volume-bar-adjust,
#ap-1 .ap-volume-bar-adjust,
#ap-2 .ap-volume-bar-adjust,
#ap-3 .ap-volume-bar-adjust,
#ap-mix .ap-volume-bar-adjust {background-color: #bab49a;}

#ap-0 .ap-volume-bar-adjust-active,
#ap-1 .ap-volume-bar-adjust-active,
#ap-2 .ap-volume-bar-adjust-active,
#ap-3 .ap-volume-bar-adjust-active,
#ap-mix .ap-volume-bar-adjust-active {background-color: #666;}

#ap-0 .ap-tracklist,
#ap-1 .ap-tracklist,
#ap-2 .ap-tracklist,
#ap-3 .ap-tracklist,
#ap-mix .ap-tracklist {display: block; position: relative; margin-top: 0;}

#ap-0 .ap-tracklist-container,
#ap-1 .ap-tracklist-container,
#ap-2 .ap-tracklist-container,
#ap-3 .ap-tracklist-container,
#ap-mix .ap-tracklist-container {
  display: block;
  position: relative;
  border-radius:0 0 10px 10px;
  padding: 0;
  background-color: #fbfaf6;
  background-image: -ms-linear-gradient(top, #fbfaf6 0%, #d7d5cd 100%);
  background-image: -moz-linear-gradient(top, #fbfaf6 0%, #d7d5cd 100%);
  background-image: -o-linear-gradient(top, #fbfaf6 0%, #d7d5cd 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbfaf6), color-stop(1, #d7d5cd));
  background-image: -webkit-linear-gradient(top, #fbfaf6 0%, #d7d5cd 100%);
  background-image: linear-gradient(to bottom, #fbfaf6 0%, #d7d5cd 100%);}

#ap-0 .ap-tracks-wrapper,
#ap-1 .ap-tracks-wrapper,
#ap-2 .ap-tracks-wrapper,
#ap-3 .ap-tracks-wrapper,
#ap-mix .ap-tracks-wrapper {position: relative;}

#ap-0 .ap-tracks,
#ap-1 .ap-tracks,
#ap-2 .ap-tracks,
#ap-3 .ap-tracks,
#ap-mix .ap-tracks {position: relative; list-style-type: none; margin: 0; padding: 0;}

#ap-0 .ap-track-item,
#ap-1 .ap-track-item,
#ap-2 .ap-track-item,
#ap-3 .ap-track-item,
#ap-mix .ap-track-item {
  position: relative;
  cursor: pointer;
  color: #888;
  font-family: 'Oswald', Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
 border-bottom: solid 1px #888;
  margin: 0;
  padding-left: 10px;
  text-align: left;}

#ap-0 .ap-track-item:last-child,
#ap-1 .ap-track-item:last-child,
#ap-2 .ap-track-item:last-child,
#ap-3 .ap-track-item:last-child,
#ap-mix .ap-track-item:last-child {border-bottom:none; border-radius:0 0 10px 10px;}

#ap-0 .ap-track-item-active,
#ap-1 .ap-track-item-active,
#ap-2 .ap-track-item-active,
#ap-3 .ap-track-item-active,
#ap-mix .ap-track-item-active {cursor:pointer; background-color:#555; color:#fff; font-weight:500;}

#ap-0 .ap-track-item-hoverover,
#ap-1 .ap-track-item-hoverover,
#ap-2 .ap-track-item-hoverover,
#ap-3 .ap-track-item-hoverover,
#ap-mix .ap-track-item-hoverover {background-color:#999; color:#fff;}

#ap-0 .ap-track-item a,
#ap-1 .ap-track-item a,
#ap-2 .ap-track-item a,
#ap-3 .ap-track-item a,
#ap-mix .ap-track-item a {color: #888; font-size: 22px; text-decoration: none; margin-right:15px;}

#ap-0 .ap-track-item-active a,
#ap-1 .ap-track-item-active a,
#ap-2 .ap-track-item-active a,
#ap-3 .ap-track-item-active a,
#ap-mix .ap-track-item-active a {color: #fff; text-decoration: none;}

#ap-0 .ap-track-item-active a:hover,
#ap-1 .ap-track-item-active a:hover,
#ap-2 .ap-track-item-active a:hover,
#ap-3 .ap-track-item-active a:hover,
#ap-mix .ap-track-item-active a:hover {color: #D5CEBA;}

#ap-mix .ap-track-item-number {padding-right:10px; font-family: "Lucida Sans Typewriter", Monaco, "Courier New", monospace; font-weight:900;}

#ap-0 .ap-track-item-duration,
#ap-1 .ap-track-item-duration,
#ap-2 .ap-track-item-duration,
#ap-3 .ap-track-item-duration {position: absolute; top: 0; right: 0;}

#ap-mix .ap-track-item-duration {position: absolute; top: 0; right: 10px; font-family: "Lucida Sans Typewriter", Monaco, "Courier New", monospace; font-weight:900;}

#ap-0 .ap-tracklist-clear,
#ap-1 .ap-tracklist-clear,
#ap-2 .ap-tracklist-clear,
#ap-3 .ap-tracklist-clear,
#ap-mix .ap-tracklist-clear {clear: both;}