/*BASIC STYLES*/
/* body{ */
/* 	background-color: #FA6F59; */
/* 	margin: 0; */
/* 	padding: 0; */
/* } */

/* header{ */
/* 	background-image: url("logo.png"); */
/* 	background-size: 150px auto; */
/* 	background-repeat: no-repeat; */
/* 	background-position: left; */
/* 	position: fixed; */
/* 	width: 100%; */
/* 	top: 0; */
/* 	left: 0; */
/* 	background-color: #524A49; */
/* 	height: 7%; */
/* 	z-index: 1; */
/* } */

footer{
	background-color: #524A49;
	height: 50px;
	opacity: 0.9;
	margin-top: 70%;
	z-index: 1;
}

/*-----------------------------------------------*/
/*INDEX PAGE*/
#indexBody{
	background-color: #FA6F59;
	margin: 0;
	padding: 0;
	background-image: url("djImg.jpg");
	background-repeat: no-repeat;
	background-size: 64% auto;
	background-position: 50% -20%;
}

#indexSearchBar{
	margin-left: 16%;
	margin-top: 0.5%;
	width: 40%;
	height: 60%;
	border-radius: 7px;
	font-size: 16px;
}
#loginButton{
	position: absolute;
	height: 76%;
	width: 7.5%;
	background: none;
	margin-left: 80%;
	margin-top: -2.5%;
	border-radius: 7px;
}

#loginButton:HOVER{
	opacity: 0.7;
	cursor: pointer;
}

#signupButton{
	position: absolute;
	height: 76%;
	width: 7.5%;
	background: none;
	margin-left: 90%;
	margin-top: -2.5%;
}

#signupButton:HOVER{
	opacity: 0.7;
	cursor: pointer;
}
/*-----------------------------------------------*/
/*LOGIN FORM*/
#loginDiv{
	border-radius: 15px;
	background-color: #524A49;
	height: 380px;
	width: 350px;
	margin-top: 100px;
	margin-left: 500px;
}

#loginHead{
	padding: 0;
	margin: 0;
	margin-left: 30%;
	margin-top: 5%;
	font: 40px Impact, Charcoal, sans-serif;
	color: #ffffff;
}

#liDiv{
	position: absolute;
	margin-left: 3.5%;
	margin-top: 2.5%;
}

#loginErr{
	position: sticky;
	background-color: yellow;
	border-radius: 10px;
	height: 70px;
	width: 600px;
	margin-top: 100px;
	margin-left: 370px;
	text-align: center;
	text-shadow: activeborder;
}

#lb{
	position: absolute;
	height: 20%;
	width: 55%;
	background: none;
	border-radius: 7px;
	margin-top: 5%;
	margin-left: 45%;
}

#lb:HOVER{
	opacity: 0.7;
	cursor: pointer;
}

.forgotPass{
	position: absolute;
	text-decoration: none;
	margin-top: 17%;
	margin-left: 4%;
	font: 12px "Trebuchet MS", Helvetica, sans-serif;
	color: #C2C2C2;
	opacity: 0.4;
}

.regLink{
	position: absolute;
	font-size: 16px;
	text-decoration: none;
	margin-top: 280px;
	margin-left: 35px;
	font: 16px "Trebuchet MS", Helvetica, sans-serif;
	color: #C2C2C2;
	opacity: 0.4;
}
/*-----------------------------------------------*/
/*REGISTRATION FORM*/
#registerDiv{
	border-radius: 15px;
	background-color: #524A49;
	height: 420px;
	width: 350px;
	margin-top: 10%;
	margin-left: 35%;
}

#regDiv{
	position: absolute;
	margin-left: 4%;
	margin-top: 6%;
}

#rb{
	position: absolute;
	height: 17%;
	width: 50%;
	background: none;
	border-radius: 7px;
	margin-top: 20%;
	margin-left: 22%;
}

#rb:HOVER{
	opacity: 0.7;
	cursor: pointer;
}

.logLink{
	position: absolute;
	font-size: 16px;
	text-decoration: none;
	margin-top: 24%;
	margin-left: 1.5%;
	font: 16px "Trebuchet MS", Helvetica, sans-serif;
	color: #C2C2C2;
	opacity: 0.4;
}

.login{
	border-radius: 7px;
	height: 30px;
	width: 250px;
	margin-top: 8%;
	font: 16px "Lucida Console", Monaco, monospace;
}

.regMessage{
	position: absolute;
	font-size: 20px;
	text-decoration: none;
	margin-top: -23%;
	font: 30px Impact, Charcoal, sans-serif;
	color: #ffffff;
	text-align: center;
}
/*-----------------------------------------------*/
/*MAIN PAGE*/
#topH{
	margin-top: 6%;
	margin-left: 60%;
	color: #FA6F59;
	font: 20px Bradley Hand, cursive;
	font-weight: bolder;
}

#sortHeader{
	position: absolute;
	margin-top: -4.2%;
	margin-left: 3%;
	font: 20px 'Courier New', Courier, monospace;
	font-weight: bold;
	border-left: medium;
	color: #CECECE;
}

#sortByLikes{
	position: absolute;
	margin-top: -2.6%;
	margin-left: 10.5%;
	font: 20px 'Courier New', Courier, monospace;
	font-weight: normal;
	border-left: medium;
	color: #CECECE;
}

#sortByLikes:HOVER{
	font-weight: bold;
}

#sortByShares{
	position: absolute;
	margin-top: -2.6%;
	margin-left: 16%;
	font: 20px 'Courier New', Courier, monospace;
	font-weight: normal;
	border-left: medium;
	color: #CECECE;
}

#sortByShares:HOVER{
	font-weight: bold;
}

#sortByListenings{
	position: absolute;
	margin-top: -2.6%;
	margin-left: 22.5%;
	font: 20px 'Courier New', Courier, monospace;
	font-weight: normal;
	border-left: medium;
	color: #CECECE;
}

#sortByListenings:HOVER{
	font-weight: bold;
}

.songs{
	position: static;
	padding: 0;
	width: 70%;
	height: 100%;
	margin-left: 35px;
	margin-top: -15px;
	background-color: #FFFFFF;
	border: 5px solid #FFFFFF;
	border-radius: 8px;
}

.songTr{
	margin: 0;
	padding: 0;
	height: 60%;
}

.songTd{
	display: inline-block;
	padding: 0;
	margin-left: 10px;
	width: 30%;
	height:120px;
	font: 30px "Courier New", Courier, monospace;
}

.songsPRPic{
	height: 25%;
	width: 12%;
	border-radius: 50%;
}

#player{
	width: 240%;
}

#playerTd{
	display:block;
	padding: 0;
	margin-left: 3%;
	width: 35%;
}

.actions{
	display: inline-block;
	height: 20%;
	padding-bottom: 5%;
}

/*-----------------------------------------------*/
/*UPLOAD FORM*/
#uploadDiv{
	position: absolute;
	width: 40%;
	height: 60%;
    background-color: #cccccc;
    margin-left: 30%;
    margin-top: 10%
}

#uploadForm{
	margin-top: 30%;
	margin-left: 30%;
}
/* HERE STARTS THE MUSIC PLAYER FORMATTING */


/* PROFILE */
.profilePicProfile{
	height: 200px;
	width: auto;
	border-radius: 100px;
	margin-top: 7%;
	margin-left: 20%;
}

#profileProperties{
	padding: 0;
	margin: 0;
	margin-left: 20%;
	margin-top: 0%;
	font: 30px Impact, Charcoal, sans-serif;
	color: #ffSfff;
}

.coverPhoto{
	height: 200px;
	width: auto;
	border-radius: 100px;
	margin-top: 7%;
	margin-left: 20%;
}

/*SONGS TABLE STYLE*/
nav.archive-links {
	position: absolute;
  background-color: #ffffff;
  box-sizing: content-box;
  padding: 0;
  margin-top: 10%;
  margin-left: 10%;
  max-width: 66%;
  z-index: 0;
}

@media screen and (max-width: 1024px) {
  nav.archive-links {
    background-color: #ffffff;
    box-sizing: content-box;
    padding: 0;
    margin: auto;
    max-width: 85%;
  }
}

nav.archive-links ol {
  counter-reset: li;
  overflow: hidden;
  border: 1px solid #d9d9d9;
  margin: 0;
  padding: 0px;
}

nav.archive-links ol li {
  float: left;
  clear: left;
  width: 100%;
  margin: 0;
  list-style: none;
}

nav.archive-links ol,
nav.archive-links ol li,
nav.archive-links ol li div {
  display: block;
}

nav.archive-links ol li div {
  font-size: 11px;
  height: 59px;
  position: relative;
  text-decoration: none;
}

nav.archive-links ol li .main-image:after,
nav.archive-links ol li .no-main-image:after {
  color: #b7b7b7;
  counter-increment: li;
  font-size: 30px;
  line-height: 59px;
  height: 59px;
  width: 60px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

nav.archive-links li .main-image,
nav.archive-links li .no-main-image {
  float: left;
  margin-right: 1.5em;
  width: 60px;
  height: 60px;
  background: #e6e6e6;
}

nav.archive-links li .main-image {
  background-size: cover;
  background-position: center center;
}

nav.archive-links div:link,
nav.archive-links div:visited,
nav.archive-links div:hover,
nav.archive-links div:active {
  color: #000000;
}

nav.archive-links ol li div:hover .main-image:after,
nav.archive-links ol li div:hover .no-main-image:after {
  color: #2690d8;
}

nav.archive-links ol li div:active .main-image:after,
nav.archive-links ol li div:active .no-main-image:after,
nav.archive-links ol li.active div .main-image:after,
nav.archive-links ol li.active div .no-main-image:after {
  color: #777777;
}

nav.archive-links li + li {
  border-top: 1px solid #d9d9d9;
}

nav.archive-links li span {
  display: block;
  line-height: 1.5em;
}

nav.archive-links a.link-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 0.6875em;
  font-size: 14px;
  text-decoration: none;
  color: black;
  display: block;
  width: 800px;
}

nav.archive-links a.link-excerpt {
  position: absolute;
  display: inline;
  color: #c3c3c3;
  text-decoration: none;
  font-size: 1.3em;
  margin-top: 1%;
}

.likeDiv{
	position: absolute;
	margin-left: 90%;
	margin-top: 0.5%;
}

.actionButton{
	background-color: #ffffff;
	border-radius: 3px;
	border: solid thin;
	border-color: #6D6D6F;
	color: #6D6D6F;
	height: 20px;
}

.actionButtonClicked{
	float: left;
	background-color: rgba(181,215,236,0.9);
	border-radius: 3px;
	border: solid thin;
	border-color: #6D6D6F;
	color: #6D6D6F;
	height: 20px;
}

.actionButton:HOVER{
	color: rgba(92,168,214,0.9);
	border-color: rgba(92,168,214,0.9);
	cursor: pointer;
}

.addToPlaylist{
	position: absolute;
	background-color: #ffffff;
	border-radius: 3px;
	border: solid thin;
	border-color: #6D6D6F;
	color: #6D6D6F;
	height: 20px;
	margin-left: 25%;
	margin-top: 3%;
}

.addToPlaylist:HOVER{
	color: rgba(92,168,214,0.9);
	border-color: rgba(92,168,214,0.9);
	cursor: pointer;
}

.followButton{
	position: absolute;
	background-color: #ffffff;
	border-radius: 3px;
	border: solid thin;
	border-color: #6D6D6F;
	color: #6D6D6F;
	margin-top: 1%;
	margin-left: 8%;
	display: inline;
}

.followButton:HOVER {
	color: rgba(92,168,214,0.9);
	border-color: rgba(92,168,214,0.9);
	cursor: pointer;
}

.unfollowButton{
	position: absolute;
	background-color: rgba(92,168,214,0.9);
	border-radius: 3px;
	border: solid thin;
	border-color: white;
	color: white;
	margin-top: 1%;
	margin-left: 8%;
	display: inline;
}

.unfollowButton:HOVER {
	color: #6D6D6F;
	border-color: #6D6D6F;
	cursor: pointer;
}


/*=============================================*/
/*SORTING*/
.sortingTable{
	position: absolute;
	margin-top: 7.5%;
	margin-left: 10%;
}

.sortTd{
	color: #6D6D6F;
	font-weight: bold;
}

.sortingLink{
	text-decoration: none;
	color: #6D6D6F;
	border: none;
	background-color: transparent;
}

.sortingLink:HOVER{
	text-decoration: none;
	color: #6D6D6F;
	border: none;
	background-color: transparent;
	font-weight: bold;
	cursor: pointer;
}
/*=============================================*/
/*UPLOAD FORM*/
form.upload-form {  
  position: absolute;
  margin-left: 35%;
  margin-top: 30%;
  include: center;
  margin-top: 5rem;
  background: rgba(92,168,214,0.9);
  opacity: 0.9;
  border-radius: 1rem;
  min-height: 30%;
  min-width: 25rem;
  max-width: 30%;
  position: absolute;  
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center; 
} 
fieldset {    
   display: inline-flex;
   border: none;
}

label {
    text-align: center;
}
  
#filefield{
   border: 0.2rem dashed rgb(43, 44, 40);
   margin: 0.4rem;
}

#file{
	display: none;
}

footer#controls {
   display: none;        
}

#submit {    
    border-radius: 4rem;
    line-height: 3rem;
    min-width: 40%;
    position: relative;
    background-color: #ffffff;
    box-shadow: -170px 0 0 #ffffff inset;
    font-size: 1rem;
    font-weight: 700;
}

#submit:HOVER{
	cursor: pointer;
	box-shadow: -170px 0 0 #cccccc inset;
}
/*=============================================*/
/*UPLOAD PAGE*/
.genreSelector{
	width: 30px;
}